<div class="d-flex flex-column flex-md-row pt-2 pb-2 gap-2">
    <!-- "flex:1" means "flex-grow:1;flex-shrink:0;flex-basis:0" -->
    <!-- enabling equal width columns -->
    <div style="flex:1;">
        <a href="/movie-projects" class="text-dark text-decoration-none">
            <div class="h-100 p-4 bg-light border rounded-3 text-center">
                <h3>Movie Projects</h3>
            </div>
        </a>
    </div>
    <div style="flex:1;">
        <a href="/scripts" class="text-dark text-decoration-none">
            <div class="h-100 p-4 bg-light border rounded-3 text-center">
                <h3>Scripts</h3>
            </div>
        </a>
    </div>
    <div style="flex:1;">
        <a href="//ramathelegend.com" class="text-dark text-decoration-none">
            <div class="h-100 p-4 bg-light border rounded-3 text-center">
                <h3>Graphic Novel</h3>
            </div>
        </a>
    </div>
</div>
