<div class="pt-2">
    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <a href="/movie-projects" class="text-dark text-decoration-none">
                <div class="h-100 p-5 bg-light border rounded-3 text-center">
                    <h3>Movie Projects</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/scripts" class="text-dark text-decoration-none">
                <div class="h-100 p-5 bg-light border rounded-3 text-center">
                    <h3>Scripts</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="//ramathelegend.com" class="text-dark text-decoration-none">
                <div class="h-100 p-5 bg-light border rounded-3 text-center">
                    <h3>Graphic Novel</h3>
                </div>
            </a>
        </div>
    </div>
</div>
